@media (min-width: 501px) and (max-width:700px) {
    button {
        width: 115px;
        height: 35px;
        border-radius: 7px;
        font-size: 1rem;
        padding: 0em;
    }

    .button-two {
        width: 135px;
        height: 35px;
        border-radius: 7px;
        font-size: 1rem;
        padding: 0em;
    }

    .contact-container {
        padding: 0em 1em;
        margin-top: 8em;
        margin-bottom: 0em;
        gap: 1.5em;
    }

    .contact-container-left {
        gap: 1.5em;
    }

    .hero-p1 {
        font-size: 1rem;
    }

    .contact-container-left-h4 {
        font-size: 1.5rem;
    }

    .contact-container-left-p {
        font-size: 1rem;
        line-height: 25px;
    }

    .phone-container {
        gap: 1em;
    }

    .email-container {
        gap: 1em;
        flex-wrap: wrap;
    }

    .contact-bg {
        width: 60px;
        height: 60px;
    }

    .contact-bg img {
        width: 30px;
    }

    .contact-title {
        font-size: 1rem;
        line-height: 30px;
    }

    .contact-detail {
        font-size: 0.9rem;
        font-weight: 300;
        letter-spacing: 0em;
    }

    .top {
        flex-direction: column;
    }

    input {
        padding: 0.9em 1.5em;
        width: 100%;
        height: 55px;
    }

    textarea {
        padding: 0.9em 1.5em;
        width: 100%;
        font-size: 0.9rem;
    }

    .thankyou-container {
        margin-top: 150px;
        padding: 0em 1em;
        margin-bottom: 0px;
    }

    .thankyou-container img {
        width: 30%;
    }

    .thankyou-h2 {
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
    }

    .thankyou-p {
        font-size: 1rem;
    }

    .hero {
        padding: 3em 1em;
        margin-top: 4em;
        gap: 1em;
    }

    .hero-right {
        align-items: center;
        justify-content: center;
    }

    .hero-right > img {
        width: auto;
        height: 350px;
    }

    .hero-p1 {
        font-size: 1rem;
    }

    .hero-h1 {
        font-size: 2.25rem;
    }

    .hero-p2 {
        font-size: 1rem;
        line-height: 24px;
    }

    .section-one {
        flex-direction: column;
        padding: 4em 1.5em;
    }

    .section-one-left {
        width: 100%;
    }

    .section-one-left-sub {
        align-items: center;
        justify-content: center;
    }

    .section-one-right {
        width: 100%;
    }

    .skillcard {
        width: 45%;
        height: 300px;
        padding: 2.5em 1.2em;
    }

    .skillcard:hover {
        width: 45%;
        height: 320px;
    }

    .skillcard-icon-container {
        width: 60px;
        height: 60px;
    }

    .skillcard-icon-container > img {
        width: 25px;
        height: 25px;
    }

    .skillcard-p1 {
        font-size: 1rem;
    }

    .skillcard-p2 {
        font-size: 0.9rem;
        line-height: 20px;
    }

    .section-one-right-p1 {
        font-size: 1rem;
    }  

    .section-one-right-h2 {
        font-size: 1.5rem;
        line-height: 40px;
    }

    .section-one-right-p2 {
        font-size: 1rem;
        line-height: 28px;
    }

    .section-two {
        padding: 2em 1em;
        gap: 4em;
    }

    .section2 {
        margin-top: 10em;
        padding: 2em 1em;
        gap: 4em;
    }

    .project-container {
        gap: 2em;
    }
    
    .project-p1 {
        font-size: 1rem;
    }

    .project-h3 {
        font-size: 1.5rem;
        line-height: 10px;
    }

    .project-p2 {
        font-size: 1rem;
    }

    .project-p3 {
        font-size: 1rem;
        align-items: center;
        margin-bottom: 35px;
    }
    
    .project-p3 > img {
        width: 25px;
    }

    .project-right-sub1 {
        margin-top: 4em;
        height: 50%;
        width: 100%;
        border-radius: 44px;
    }
      
    .project-right-sub2 {
        margin-top: 4em;
        height: 50%;
        width: 100%;
        border-radius: 44px;
    }

    #button-three {
        width: 80px;
    }

    #button-three > a {
        font-size: 0.9rem;
    }

    #button-three:nth-child(even){
        width: 110px;
    }

    #button-three:nth-child(even):hover {
        width: 120px;
    }

    .outercircle1 {
        width: 85px;
        height: 85px;
        margin: 0em 0.5em;
    }

    .innercircle1 {
        top: -10px;
        bottom: -10px;
        right: -10px;
        left: -10px;
    }

    .outercircle2 {
        width: 85px;
        height: 85px;
        margin: 0em 0.5em;
        margin-left: auto;
    }

    .innercircle2 {
        top: -10px;
        bottom: -10px;
        right: -10px;
        left: -10px;
    }

    .viewall {
        padding: 0.625em;
        border-radius: 10px;
    }

    .viewall > a {
        font-size: 0.9rem;
    }

    .section-three {
        flex-direction: column;
        padding: 3em 2em;
    }

    .section-three-left, .section-three-right {
        width: 100%;
    }

    .card1, .card3 {
        height: 220px;
        border-radius: 24px 0px 0px 24px;
        padding: 0em 0.5em;
    }

    .card2, .card4 {
        height: 220px;
        border-radius: 0px 24px 24px 0px;
        padding: 0em 0.5em;
    }

    .card-p1 {
        font-size: 3rem;
    }

    .card-p2 {
        font-size: 1rem;
    }

    .card-circle1 {
        width: 50px;
        height: 50px;
        left: 15px;
        bottom: 5px;
    }

    .card-circle2 {
        width: 50px;
        height: 50px;
        right: 15px;
        top: 5px;
    }

    section {
        padding: 0em 2.5em;
    }

    .testimonial-container {
        flex-direction: column;
    }

    .testimonial-left {
        width: 100%;
    }

    .testimonial-right {
        width: 100%;
        align-items: center;
    }

    .testimonial-right img {
        width: 28px;
    }

    .img-bg {
        width: 225px;
        height: 300px;
    }

    .img-con {
        width: 225px;
        height: 300px;
    }

    .test-p1 {
        font-size: 1rem;
        line-height: 26px;
        text-align: center;
    }

    .test-p2 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .test-p3 {
        font-size: 0.875rem;
    }

    .nav-circle {
        width: 20px;
        height: 20px;
    }

    .active2 {
        border: 3px solid #F6C000;
    }

    hr {
        width: 64px;
    }

    .hr2 {
        display: block;
        width: 50px;
        border: 1px solid #808080;
    }

    .section-five {
        margin: 0em 1em;
        border-radius: 24px;
        padding: 2.5em 1.7em;
        gap: 1.25em;
    }

    .section-five-h4 {
        font-size: 1.5rem;
    }

    .section-five-p {
        font-weight: 300;
        font-size: 0.9rem;
    }

    .shape1 {
        width: 50px;
        height: 50px;
    }

    .shape2 {
        width: 50px;
        height: 50px;
    }

    .whatsapp {
        width: 60px;
        right: 1em;
    }

    .whatsapp:hover {
        width: 65px;
    }
}