@media (max-width: 1000px) {
        nav {
        padding: 1.625em 1.5em;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .nav-center {
        gap: 2em;
    }

    a {
        font-size: 1rem;
    }

    .github-container {
        padding: 0.4em;
        border-radius: 8px;
    }
}